* {
  box-sizing: border-box;
}

.container {
  width: 90vw;
  /* 기존보다 넓은 값으로 설정 */
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
}


.summary-box {
  background: white;
  border-top: 15px solid #C7CDF8;
  padding: 24px;
  height: relative;
}


.summary-box h3 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #666;
}
.meta img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.tags {
  margin-top: 12px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.tags span {
  background: #A2ABFF;
  color:#ffff;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
}

.form-box {
  background: linear-gradient(to top right, #E8E8E8 20%, #DFE0ED 50%, #C7CDF8 100%);
  padding: 30px;
}

.form-left,
.form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}


input[type="email"],
textarea {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #7987FF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4a5cff;
}

#result {
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px;
}