* {
  box-sizing: border-box;
}

.container {
  position:relative;
  top: 100px;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px #949292;
  border-top: 15px solid #C7CDF8
}

.summary-box {
  background: white;
  padding: 24px;
  height: 250px;
}

.summary-box h3 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #666;
}

.meta img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.tags {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tags span {
  background: #e9ecef;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
}

.form-box {
  background-color: #e4e7ff;
  /* 연보라 */
  display: flex;
  padding: 24px;
  gap: 40px;
  width: 100%;
  /* 혹은 max-width로 고정할 수 있음 */
  flex-wrap: nowrap;
  /* 줄바꿈 방지 */
  box-sizing: border-box;
}

.form-left,
.form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}


input[type="email"],
textarea {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #7987FF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4a5cff;
}

#result {
  margin-top: 30px;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 10px;
}